<div class="inner">
        <div class="section section-top">
          <h1>Особняк Кушелева-Безбородко</h1>
          <p class="text text_epert">Экспертная оценка команды VIPFLAT</p>
          <img class="stars" src="images/stars-5.svg" alt="" />
          <p class="text text-domclass">
            DELUXE — РОСКОШЬ. <br />
            Дом, не имеющий себе равных.
          </p>
        </div>

        <div class="section section-botm">
			<div class="ratings">	
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Престижно жить</p>
						<p id="prestigio" class="text text_rating rightAlign"><span class="rating-big">10</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Место</p>
						<p id="place" class="text text_rating rightAlign"><span class="rating-big">10</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Виды</p>
						<p id="view" class="text text_rating rightAlign"><span class="rating-big">10</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Архитектура</p>
						<p id="architecture" class="text text_rating rightAlign"><span class="rating-big">10</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Харизма дома</p>
						<p id="feature" class="text text_rating rightAlign"><span class="rating-big">5</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Лобби, парадные</p>
						<p id="lobby" class="text text_rating rightAlign"><span class="rating-big">9</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Территория</p>
						<p id="territory" class="text text_rating rightAlign"><span class="rating-big">6</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Приватность</p>
						<p id="privacy" class="text text_rating rightAlign"><span class="rating-big">8</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Инфраструктура дома</p>
						<p id="commertion" class="text text_rating rightAlign"><span class="rating-big">6</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
				<div class="raw">
					<div class="row-text">
						<p class="text text_rating">Инфраструктура рядом</p>
						<p id="infrastructure" class="text text_rating rightAlign"><span class="rating-big">8</span>/10</p>
					</div>			
					<div class="line"></div>
				</div>
			</div>

		</div>
      </div>