<div class="inner inner-toc">
	<div class="section section-top">
		<h1 class="toc">Оглавление</h1>

        <center>            
            <div class="toc-divdomclass">
                <h4 class="toc-domclass">DELUXE — РОСКОШЬ. <br />
                    Дом, не имеющий себе равных.</h4>
            </div>
        </center>
                


		<div class="toc-div">
            <p class="toc-domname" id="domname">«CHEVAL COURT»</p>
            <p class="toc-adress" id="adress">Конюшенная пл., 2 — 96 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«One Trinity Place»</p>
    		<p class="toc-adress" id="adress">Адмирала Лазарева наб., 22 — 92 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Три грации»</p>
    		<p class="toc-adress" id="adress">Захарьевская ул., 41 — 90 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Art View House»</p>
    		<p class="toc-adress" id="adress">Мойки реки наб., 102 — 87 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«VILLA MARINA»</p>
    		<p class="toc-adress" id="adress">Динамо пр., 2А — 85 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Приоритет»</p>
    		<p class="toc-adress" id="adress">Воскресенская наб., 32А — 85 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Astrvm»</p>
    		<p class="toc-adress" id="adress">Эсперова ул., 8А — 84 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Особняк Кушелева-Безбородко»</p>
    		<p class="toc-adress" id="adress">Кутузова наб., 24 — 82 баллов</p>
        </div>

        <center> 
            <div class="toc-divdomclass">
                <h4 class="toc-domclass">ELITE — ВЫСШИЙ КЛАСС. <br />
                    Дом для взыскательной публики.</h4>
            </div>
        </center>

        
        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Резиденция на Каменном»</p>
    		<p class="toc-adress" id="adress">1-я Березовая ал., 7 — 94 баллов</p>
        </div>

        <div class="toc-div">            
    		<p class="toc-domname" id="domname">«Привилегия»</p>
    		<p class="toc-adress" id="adress">Вязовая ул., 8 — 91 баллов</p>
        </div>

	</div>
	<p>&nbsp;</p> 
	<p>&nbsp;</p>  


	
</div>