<div class="inner">
	<div class="section section-top">
		<h1>Особняк Кушелева-Безбородко</h1>
		<p>&nbsp;</p>
		<p >Экспертная оценка команды VIPFLAT</p>
		<p>&nbsp;</p>
		<img class="stars" src="Images/stars-5.svg" alt="" />
		<p>&nbsp;</p>
		<p id="domclass">
		DELUXE — РОСКОШЬ. <br />
		Дом, не имеющий себе равных.
		</p>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>


	<div style="padding: 0 43px 43px 44px;">
			<p id="prestigio">Престижно жить 10/10 <hr></hr><br/></p>
			<p id="place">Место 10/10 <hr></hr></p>
			<p id="view">Виды 10/10 <hr></hr></p>
			<p id="architecture">Архитектура 10/10 <hr></hr></p>
			<p id="feature">Харизма дома 10/10 <hr></hr></p>
			<p id="lobby">Лобби, парадные 10/10 <hr></hr></p>
			<p id="territory">Территория 10/10 <hr></hr></p>
			<p id="privacy">Приватность 10/10 <hr></hr></p>
			<p id="commertion">Инфраструктура дома 10/10 <hr></hr></p>
			<p id="infrastructure">Инфраструктура рядом 10/10 <hr></hr></p>
	</div>
</div>